
:root {
  --ifm-font-family-base: 'Source Sans Pro', system-ui, sans-serif;
  --ifm-heading-font-family: 'IBM Plex Sans', system-ui, sans-serif;

  --ifm-color-primary: #231F56;
  --ifm-color-primary-dark: #1e1b4d;
  --ifm-color-primary-light: #3a367a;

  --ifm-background-color: #ffffff;
  --ifm-navbar-background-color: #ffffff;

  --ifm-footer-background-color: #231F56;
  --ifm-footer-color: #ffffff;

  --ifm-link-color: #231F56;
  --ifm-link-hover-color: #CAD22C;
}

/* --- Text Color Logic --- */
body {
  color: var(--ifm-color-primary);
}

.navbar, .navbar__items, .menu, .menu__link {
  color: var(--ifm-color-primary);
}

.footer {
  color: white;
  background-color: var(--ifm-footer-background-color);
}

.footer a {
  color: #CAD22C;
}

/* --- Autoswap logo --- */
.navbar__brand > img {
  content: url("/img/PAISLEY_icon%20DK%20PURPLE.svg");
}

html[data-theme='dark'] .navbar__brand > img {
  content: url("/img/PAISLEY_icon%20WHITE.svg");
}

/* --- Additional Styles --- */
.button {
  background-color: #231F56;
  color: #ffffff;
  border: none;
}

.button:hover {
  background-color: #CAD22C;
  color: #231F56;
}

a {
  color: var(--ifm-link-color);
}

a:hover {
  color: var(--ifm-link-hover-color);
}
